/* line 1, main.css.scss */
.jumbotron {
  text-align: center;
  margin-bottom: 60px;
  padding-top: 60px;
  padding-bottom: 25px; }
  /* line 6, main.css.scss */
  .jumbotron h1 {
    font-size: 120px;
    margin-bottom: 55px;
    margin-top: 0px; }
  /* line 11, main.css.scss */
  .jumbotron p {
    font-size: 40px; }
  /* line 14, main.css.scss */
  .jumbotron .sign-in {
    position: absolute;
    right: 10px;
    top: 10px; }

/* line 21, main.css.scss */
h3 i[class^="icon-"] {
  margin-top: 7px; }

/* line 25, main.css.scss */
.btn-block {
  width: 100%; }

/* line 31, main.css.scss */
input:focus:invalid,
textarea:focus:invalid,
select:focus:invalid {
  border-color: #e74c3c !important;
  color: #e74c3c !important;
  -webkit-box-shadow: none !important;
  -moz-box-shadow: none !important;
  box-shadow: none !important; }

/* line 37, main.css.scss */
input[type="number"] {
  padding: 0; }

/* line 40, main.css.scss */
.navbar {
  right: 0;
  top: 0;
  position: fixed; }
  /* line 44, main.css.scss */
  .navbar .navbar-inner {
    border-bottom-right-radius: 0;
    border-top-right-radius: 0;
    border-top-left-radius: 0; }
    /* line 48, main.css.scss */
    .navbar .navbar-inner .nav-stacked > li {
      float: none; }
