.jumbotron
  .container
    h1 Editr
    p Find an Editor - Make Some Money
  .sign-in
    a.btn.btn-primary data-toggle="modal" href="#sign-in" Sign In
.container
  .row
    .span6
      h3
        i.fui-new-24
        |  Authors
      p Add Posts, Set Bounties, Get Polished Content
      = link_to 'Get Your Content Edited', new_post_path, class: 'btn btn-large btn-block btn-info'
    .span6
      h3
        i.fui-eye-24
        |  Editors
      p Find Authors, Edit Posts, Get Paid
      a.btn.btn-large.btn-block.btn-success href="#" Make Money

#sign-in.modal.hide.fade
  .modal-header
    button.close type="button" data-dismiss="modal" x
    h3 Sign In
  .modal-body
    form.form-horizontal action=sessions_path method="post"
      .control-group
        label.control-label for="email" Email
        .controls
          input type="email" name="email" placeholder="Email"
      .control-group
        label.control-label for="password" Password
        .controls
          input type="password" name="password" placeholder="Password"
      .control-group
        .controls
          button type="submit" class="btn" Sign In

