.jumbotron {
  text-align: center;
  margin-bottom: 60px;
  padding-top: 60px;
  padding-bottom: 25px;
  h1 {
    font-size: 120px;
    margin-bottom: 55px;
    margin-top: 0px;
  }
  p {
    font-size: 40px;
  }
  .sign-in {
    position: absolute;
    right: 10px;
    top: 10px;
  }
}

h3 i[class^="icon-"]{
  margin-top: 7px;
}

.btn-block {
  width: 100%;
}

.controls input:focus:invalid,
.controls textarea:focus:invalid,
.controls select:focus:invalid {
    border-color: #e74c3c;
    color: #e74c3c;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none; }
