.jumbotron {
  text-align: center;
  margin-bottom: 60px;
  padding-top: 60px;
  padding-bottom: 25px;
  h1 {
    font-size: 120px;
    margin-bottom: 55px;
    margin-top: 0px;
  }
  p {
    font-size: 40px;
  }
  .sign-in {
    position: absolute;
    right: 10px;
    top: 10px;
  }
}

h3 i[class^="icon-"]{
  margin-top: 7px;
}

.btn-block {
  width: 100%;
}

input:focus:invalid,
textarea:focus:invalid,
select:focus:invalid {
    border-color: #e74c3c !important;
    color: #e74c3c !important;
    -webkit-box-shadow: none !important;
    -moz-box-shadow: none !important;
    box-shadow: none !important; }
input[type="number"] {
  padding: 0;
}
.navbar{
  right: 0;
  top: 0;
  position: fixed;
  .navbar-inner{
    border-bottom-right-radius: 0;
    border-top-right-radius: 0;
    border-top-left-radius: 0;
    .nav-stacked > li {
      float: none;
    }
  }
}
